[submodule "api-app"]
	path = api-app
	url = https://github.com/unifast-tech/leadshug-api.git
[submodule "foundation_documentation"]
	path = foundation_documentation
	url = https://github.com/unifast-tech/leadshug-foundation.git
[submodule "web-app"]
	path = web-app
	url = https://github.com/unifast-tech/leadshug-web.git
